apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 2 # Arquitectura modular: corremos 2 copias de la app
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web-app
        image: tu_usuario_docker/mi-app-flask:v1 
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "postgres-service" # Nombre del servicio de la DB
        - name: DB_PASSWORD
          value: "mi_secreto_password"
---
apiVersion: v1
kind: Service
metadata:
  name: web-loadbalancer
spec:
  type: LoadBalancer # Esto nos dará una IP pública
  ports:
  - port: 80
    targetPort: 5000
  selector:
    app: web